<app-navbar (toggle)="showMenu()"></app-navbar>
<mat-drawer-container class="container">
  <mat-drawer mode="side" [opened]="toggleFlag">
    <div class="image-container">
      <a routerLink="/">
        <img
          src="https://www.accelerance.com/hubfs/Applaudo/Applaudo-Studios-1.png"
          alt="Applaudo-logo"
        />
      </a>
    </div>
    <div class="category" *ngFor="let category of categories">
      <p>{{ category.name }}</p>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
