<div class="container">
  <div class="card-title">
    <h1>Log In</h1>
  </div>
  <form [formGroup]="form" class="form">
    <mat-form-field class="input-container" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="me@example.com" formControlName="email" />
      <mat-error *ngIf="getControl('email').errors?.required">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="getControl('email').errors?.email">
        Email is <strong>invalid format</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-container" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="getControl('password').errors?.required">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      id="loginButton"
      color="primary"
      class="btn"
      (click)="login()"
      [disabled]="form.invalid || isDisabled"
    >
      Login
    </button>
  </form>
</div>
